[user]
	name = Alistair MacLeod
	email = alistair@biscuitsfruit.org.uk
        signingkey = 07577A4A

[core]
        whitespace=tab-in-indent
[alias]
        ci = commit
        co = checkout

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green

[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[push]
#	default = upstream
# Apparently tracking is deprecated, means the same as upstream.
        default = tracking
