[submodule ".emacs.d/packages/twittering-mode"]
	path = .emacs.d/packages/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/packages/groovy"]
	path = .emacs.d/packages/groovy
	url = git://github.com/timvisher/emacs-groovy-mode-mirror.git
[submodule ".emacs.d/packages/haml"]
	path = .emacs.d/packages/haml
	url = git://github.com/nex3/haml-mode.git
[submodule ".emacs.d/packages/arduino-mode"]
	path = .emacs.d/packages/arduino-mode
	url = https://github.com/bookest/arduino-mode.git
[submodule ".emacs.d/packages/cucumber.el"]
	path = .emacs.d/packages/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/packages/ruby-tools"]
	path = .emacs.d/packages/ruby-tools
	url = https://github.com/rejeep/ruby-tools.el.git
