[submodule "bashmarks"]
	path = .bashrc.d/bashmarks
	url = https://github.com/huyng/bashmarks.git
[submodule ".emacs.d/packages/twittering-mode"]
	path = .emacs.d/packages/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule ".emacs.d/packages/groovy"]
	path = .emacs.d/packages/groovy
	url = git://github.com/timvisher/emacs-groovy-mode-mirror.git
